html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(40, 89%, 52%);
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

.bg-light{
  background-color: #f2a916 !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-item {
  color: black;
  font-family: 'Anton', san-sarif;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler-icon {
  background-image: url(https://mdbootstrap.com/img/svg/hamburger6.svg?color=000) !important;
  margin-right: 3px;
}

.nav-item:hover .nav-link:hover {
  color: white;
}


.jumbotron .jumbotron-fluid {
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: -10;
}

#hero-image {
  display: block;
  background-image: url(images/mainmaine.jpg);
  height: 800px;
  margin: 0px;
  width: 100% !important;
  background-position: center;
  background-size: cover;
}

.cta {
  color: #044D11;
  min-height: 150px;
  margin: 0px;
  position: relative;
  animation-name: enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.cta-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 70px;
}

.lead {
  font-family: 'Bitter', sans-sarif;
  text-align:center;
  letter-spacing: 3px;
  line-height: 12px;
  font-size: 20px;
}

.fab {
  color: #21A179;
  margin: 0px 10px;
}

.fab:hover {
  color: white;
}

.fas {
  color: #21A179;
  margin: 0px 10px;
}

.fas:hover {
  color: white;
}

#tour {
  position: relative;
  background-image: url(images/blueback1.jpg);
  height: 700px;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  z-index: 3;
}

.catchus-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 60px;
  color: #f2a916;
  padding: 55px 30px 0px;
  z-index: 3;
}

#about {
  position: relative;
  display: block;
  background-image: url(images/youareokay.jpeg);
  height: 700px;
  margin: 0px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -10;
}

#media {
  position: relative;
  display: block;
  background-image: url(images/blueback2.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  z-index: 3;
  overflow-y: scroll;
}

.media1 {
  padding: 0px 15px 0px 40px;
}

.card-title-media {
  font-family: 'Anton', serif;
  text-align: center;
  font-size: 15px;
}

.card {
  background-color: rgba(33, 161, 120, 0.207);
  margin: 30px auto;
}

.card-title {
  font-family: 'Anton', serif;
  text-align: center;
}

.card-body {
  margin: 0px;
  padding: 10px;
}

.end {
  background-color: #f2a916;
  height: 150px;
  font-family: 'Bitter', sans-sarif;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  letter-spacing: 2px;
}

.updates {
  display: inline-block;
  justify-content: center;
}

input {
  border: 1px black solid;
  padding: 2px;
  color: #f2a916;
  background-color: black;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 200px;
}

.signup {
  background-color: black;
  color: #f2a916;
  font-family: 'Anton', serif;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin: 3px;
  font-size: 20px;
  width: 100px;
  margin-bottom: 20px;
}

label {
  font-family: 'Bitter', sans-sarif;
  color: white;
  padding: 7px;
}

.modal-content{
  background-color: #f2a916;
}

.modal-title {
  color: black;
  font-family: 'Anton', serif;
  font-size: 25px;
}

.modal-body {
  color: #044D11;
  font-family: 'Bitter', sans-sarif;
  font-size: 20px;
}

#albums {
  position: relative;
  display: block;
  background-image: url(images/albumsbackground.png);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  z-index: 3;
}

.albumpage-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 50px;
  color: #f2a916;
  padding: 55px 15px 0px 25px;
  z-index: 3;
}

.row {
  width: 100%;
  padding: 15px 0px 0px 30px;
}


.dropdown {
  margin: 0px;
  padding: 30px;
}

.dropdown-menu{
  margin: 0px;
  padding: 0px 40px;
  border: none;
  background-color: transparent;
}

/*KEYFRAMES*/

@keyframes enter {
  from {
  top: 8px;
  left: -500px;
  }

  to  {
  top: 8px;
  left: 0px;
  }
}

/*MEDIA QUERIES*/

@media (min-width: 700px) {
  #hero-image {
    min-height: 450px;
    width: 100%;
  }
  
  #tour {
    min-height: 450px;
    position: relative;
  }

  #media {
    min-height: 450px;
    position: relative;
  }
}

@media (max-width: 600px) {
  #hero-image {
    max-height: 450px;
    width: 100%;
  }

  #media {
    max-height: 450px;
    width: 100%;
  }

  #about {
    max-height: 450px;
    width: 100%;
  }

  #tour {
    max-height: 450px;
    width: 100%;
  }

  .cta {
    min-height: 80px;
  }
  
  .cta-text {
    font-size: 20px;
    color: white;
  }

  .fab {
    color: #21A179;
    margin: 0px 10px;
  }

  .fab:hover {
    color: white;
  }

  .fas {
    color: #21A179;
    margin: 0px 10px;
  }

  .fas:hover {
    color: white;
  }
  
  .catchus-text{
    font-size: 25px;
    color: white;
    letter-spacing: 5px;
    padding-top: 70px;
  }

  .albumpage-text{
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    padding-top: 70px;
  }
  
  .lead {
    font-size: 13px;
    color: white;
    line-height: 13px;
  }

  .end {
    display: block;
    font-size: 13px;
    padding: 10px;
   }

  .updates {
    display: block;
    justify-content: center;
  }

  .signup {
    display: block;
    margin: 20px auto;
    font-size: 13px;
  }

  label {
    display: block;
    font-size: 13px;
  }
  
  @keyframes enter {
  from {
  top: 250px;
  left: -500px;
  }

  to  {
  top: 250px;
  left: 0px;
  }
}
}