html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: hsl(40, 89%, 52%);
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
}

.responsive {
  width: 100%;
  height: auto;
}

/*NAVBAR SECTION*/

.bg-light{
  background-color: #f2a916 !important;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-item {
  color: black;
  font-family: 'Anton', san-sarif;
}

.navbar-toggler{
  border: none;
}

.navbar-toggler-icon {
  background-image: url(https://mdbootstrap.com/img/svg/hamburger6.svg?color=000) !important;
  margin-right: 3px;
}

.nav-item:hover .nav-link:hover {
  color: white;
}

/*HERO-IMAGE SECTION*/

.jumbotron .jumbotron-fluid {
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: -10;
}

#hero-image {
  display: block;
  background-image: url(images/mainmaine.jpg);
  height: 800px;
  margin: 0px;
  width: 100% !important;
  background-position: center;
  background-size: cover;
}

.cta {
  color: #044D11;
  min-height: 150px;
  margin: 0px;
  position: relative;
  animation-name: enter;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.cta-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 70px;
}

.lead {
  font-family: 'Bitter', sans-sarif;
  text-align:center;
  letter-spacing: 3px;
  line-height: 12px;
  font-size: 20px;
}

.fab {
  color: #21A179;
  margin: 0px 10px;
}

.fab:hover {
  color: white;
}

.fas {
  color: #21A179;
  margin: 0px 10px;
}

.fas:hover {
  color: white;
}

/*TOUR SECTION*/

#tour {
  position: relative;
  background-image: url(images/blueback1.jpg);
  height: 700px;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  z-index: 3;
  overflow: hidden;
}

.catchus-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 60px;
  color: #f2a916;
  padding: 70px 30px 0px;
  z-index: 3;
}

.table {
  margin: 40px 30px 0px 30px;
  width: 100%;
}

.mirrortour {
  font-family: 'Bitter', sans-sarif;
  text-align:center;
  letter-spacing: 3px;
  margin: 25px 30px 0px 30px;
  font-size: 30px;
  background-color: #21A179;
  color: white;
}

.moreshows {
  font-family: 'Bitter', sans-sarif;
  text-align:center;
  letter-spacing: 3px;
  font-size: 30px;
  padding-top: 20px;
}

.moreshows a {
  text-decoration: none;
  color: white;
}

.moreshows a:hover {
  color: orange;
  text-decoration: none;
}

th {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: #ddccbe;
}


td {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #ddccbe;
}

.open {
  background-color: black;
  color: #f2a916;
  font-family: 'Bitter', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin: 3px;
  font-size: 15px;
  width: 100px;
  margin-bottom: 20px;
  }

.open:hover {
  color: white;
  text-decoration: none;
  }
  
/*ABOUT SECTION*/

#about {
  position: relative;
  display: block;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(images/aboutusbio2.jpeg);
  height: 700px;
  margin: 0px;
  width: 100%;
  background-attachment: fixed;
  background-position: left center;
  background-size: cover;
  z-index: -10;
}

.bio1 {
  position: relative;
  top: 120px;
  width: 300px;
  height: 80%;
}

.bio2 {
  background-color: #e8f7fc97;
  position: relative;
  top: 65px;
  width: 300px;
  height: 80%;
  padding: 0px 0px 0px 0px;
}

.greetings {
  font-family: 'Anton', sarif;
  font-size: 50px;
  text-align: center;
  color: #21A179;
  padding-top: 13px;
  padding-bottom: 10px;
}

.aboutusbio {
  font-family: 'Bitter', sans-serif;
  font-size: 18px;
  color: #fcf9e9;
  word-spacing: 3px;
  line-height: 23px;
  text-align: justify;
}

.poem {
  white-space: pre;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  color: #a93915;
}

/*MEDIA SECTION*/

#media {
  position: relative;
  display: block;
  background-image: url(images/blueback.jpg);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  z-index: 3;
}

.media1 {
  padding: 0px 15px 0px 40px;
}

.card-title-media {
  font-family: 'Anton', serif;
  text-align: center;
  font-size: 15px;
}

.card {
  background-color: rgba(33, 161, 120, 0.207);
  margin: 30px auto;
}

.card-title {
  font-family: 'Anton', serif;
  text-align: center;
}

.card-body {
  margin: 0px;
  padding: 10px;
}

/*FOOTER SECTION*/

.end {
  background-color: #f2a916;
  height: 150px;
  font-family: 'Bitter', sans-sarif;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
  letter-spacing: 2px;
}

#updates {
  display: inline-block;
  justify-content: center;
}

input {
  border: 1px black solid;
  padding: 2px;
  color: #f2a916;
  background-color: black;
  border-radius: 5px;
  letter-spacing: 1px;
  width: 200px;
}

.signup {
  background-color: black;
  color: #f2a916;
  font-family: 'Anton', serif;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin: 3px;
  font-size: 20px;
  width: 100px;
  margin-bottom: 20px;
}

label {
  font-family: 'Bitter', sans-sarif;
  color: white;
  padding: 7px;
}

.modal-content{
  background-color: #f2a916;
}

.modal-title {
  color: black;
  font-family: 'Anton', serif;
  font-size: 25px;
}

.modal-body {
  color: #044D11;
  font-family: 'Bitter', sans-sarif;
  font-size: 20px;
}

/*ALBUMS SECTION*/

#albums {
  position: relative;
  display: block;
  background-image: url(images/albumsbackground.png);
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  z-index: 3;
}

.albumpage-text {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 50px;
  color: #f2a916;
  padding: 80px 15px 0px 25px;
  z-index: 3;
}

.albumpage-text-two {
  font-family: 'Anton', sarif;
  text-align: center;
  letter-spacing: 15px;
  font-size: 50px;
  color: #f2a916;
  padding: 5px 15px 0px 25px;
  z-index: 3;
}

.row {
  width: 100%;
  padding: 5px 0px 25px 30px;
}


.dropdown {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.dropdown-menu{
  width: 100%;
  margin: 0px;
  padding: 0px 0px;
  border: none;
  background-color: transparent;
  position: relative;
  top: 0%;
}

/*KEYFRAMES FOR BIG SCREENS*/

@keyframes enter {
  from {
  top: 8px;
  left: -500px;
  }

  to  {
  top: 8px;
  left: 0px;
  }
}

/*MEDIA QUERIES*/

/*TABLETS AND SMALLER LAPTOPS*/

@media (min-width: 575px) and (max-width: 1300px) {
  #hero-image {
    min-height: 450px;
    width: 100%;
  }
  
  #tour {
    min-height: 450px;
    position: relative;
  }

  .catchus-text {
    letter-spacing: 15px;
    font-size: 35px;
    color: #044D11;
    padding-top: 30px;
  }
  
  .table {
    margin: 25px 10px 0px 10px;
    width: 100%;
  }
  
  .moreshows {
    font-size: 20px;
    padding-top: 20px;
  }
  
  .moreshows a {
    color: orange;
    cursor: pointer;
  }
  
  th {
    font-size: 20px;
  }
  
  
  td {
    font-size: 20px;
  }
  
  .open {
  background-color: transparent;
  display: block;
  padding-right: 10px;
  text-align: center;
  margin: 0px;
  font-size: 18px;
  cursor: pointer;
  }

  #media {
    min-height: 450px;
    position: relative;
  }
  
    #about {
    max-height: 100%;
    width: 100%;
  }

  .bio1 {
    left: 1px;
    top: 5px;
    display: block;
    width: 100%;
    height: 80%;
    padding: 0px;
    margin-top: 30px;
  }
  
  .bio2 {
    left: 1px;
    top: 5px;
    display: block;
    width: 100%;
    height: 80%;
    padding: 0px;
    margin-top: 30px;
  }
  
  .greetings {
    font-size: 35px;
  }
  
  .aboutusbio {
    font-size: 15px;
    word-spacing: 1px;
    line-height: normal;
  }
  
  .poem {
    white-space: pre-wrap;
    font-size: 12px;
    padding: 20px;
  }
}

/*MOBILE PHONES*/

@media (max-width: 574px) {
  #hero-image {
    max-height: 450px;
    width: 100%;
  }

  .cta {
    min-height: 80px;
  }
  
  .cta-text {
    font-size: 20px;
    color: white;
  }

  .fab {
    color: #21A179;
    margin: 0px 10px;
  }

  .fab:hover {
    color: white;
  }

  .fas {
    color: #21A179;
    margin: 0px 10px;
  }

  .fas:hover {
    color: white;
  }
  
  .lead {
    font-size: 13px;
    color: white;
    line-height: 13px;
  }

  #tour {
    max-height: 450px;
    width: 100%;
  }

  .catchus-text {
    letter-spacing: 15px;
    font-size: 25px;
    color: #044D11;
    padding-top: 30px;
  }
  
  .table {
    margin: 10px 10px 0px 10px;
    width: 100%;
  }
  
  .mirrortour {
    font-family: 'Bitter', sans-sarif;
    text-align:center;
    letter-spacing: 3px;
    margin: 10px 15px 0px 15px;
    font-size: 16px;
    background-color: #21A179;
    color: white;
  }
  
  .moreshows {
    font-family: 'Bitter', sans-sarif;
    text-align:center;
    letter-spacing: 3px;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  
  .moreshows a {
    text-decoration: none;
    color: orange;
    cursor: pointer;
  }
  
  th {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #ddccbe;
  }
  
  
  td {
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    color: #ddccbe;
  }
  
  .open {
  background-color: transparent;
  display: block;
  padding: 0px;
  margin: 0px;
  font-size: 10px;
  cursor: pointer;
  }
  
  #about {
    max-height: 100%;
    width: 100%;
  }

  .bio1 {
    background-color: #e8f7fc97;
    left: 1px;
    top: 5px;
    display: block;
    width: 100%;
    height: 80%;
    padding-top: 5px;
  }
  
  .bio2 {
    left: 1px;
    top: 5px;
    display: block;
    width: 100%;
    height: 80%;
    padding: 0px;
  }
  
  .greetings {
    font-size: 25px;
    padding-top: 10px;
  }
  
  .aboutusbio {
    font-size: 10px;
    word-spacing: 1px;
    line-height: normal;
    color: black;
  }
  
  .poem {
    white-space: pre;
    font-family: 'Playfair Display', serif;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #a93915;
  }
  
  #media {
    overflow-y: scroll;
    max-height: 450px;
    width: 100%;
  }
  
  .card-text {
    width: 250px;
  }
  
  .card-title-media {
    font-size: 12px;
  }
  
  .card {
    margin: 15px auto;
    width: 270px;
  }
  
  .end {
    display: block;
    font-size: 13px;
    padding: 10px;
   }

  .updates {
    display: block;
    justify-content: center;
  }

  .signup {
    display: block;
    margin: 20px auto;
    font-size: 13px;
  }

  label {
    display: block;
    font-size: 13px;
  }
  
  .albumpage-text{
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
    padding-top: 70px;
  }
  
  .albumpage-text-two {
  font-size: 30px;
  color: white;
  letter-spacing: 5px;
  padding-top: 10px;
  }
  
  @keyframes enter {
  from {
  top: 250px;
  left: -500px;
  }

  to  {
  top: 250px;
  left: 0px;
  }
  }
}